<launch>

        <arg name="lod" default="$(optenv LoD False)" />
        <param name="lod" type="bool" value="$(arg lod)"/>
        <node pkg="no_pepper_nodes" type="test_camera_node.py.py" name="camera_node" output="screen"/>
        <node pkg="face_recognition" type="detector_node.py" name="asr" args="--listen_on_detect=$(arg lod)" output="screen" />
        <node pkg="face_recognition" type="face_reidentification_node.py" name="asdASD" output="screen"/>
        <node pkg="face_recognition" type="visualization_node.py" name="qwe" output="screen"/>
</launch>


