<launch>

    <arg name="node_start_delay" default="45.0" />  
    <arg name="node_start_delay2" default="50.0" />  
    <node pkg="rasa_ros" name="rasa_action" type="rasa_action.sh" output="screen"/>
    <node pkg="rasa_ros" name="rasa_server" type="rasa_server.sh" output="screen"/> 
    <node pkg="rasa_ros" name="reminder_server" type="reminder_server.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
    <node pkg="rasa_ros" name="dialogue_interface" type="dialogue_interface.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay2); $0 $@' "/>
    

</launch>