<launch>
        <node pkg="facial_emotion_recognition" type="acquisition_node.py" name="voice_detection" output="screen"/>
        <node pkg="facial_emotion_recognition" type="detector_node.py" name="asr" output="screen"/>
        <node pkg="facial_emotion_recognition" type="face_reidentification_node.py" name="asdASD" output="screen"/>
        <node pkg="facial_emotion_recognition" type="visualization_node.py" name="qwe" output="screen"/>
</launch>



