<launch>
    <arg name="node_start_delay" default="60.0" />  
    <arg name="node_start_delay2" default="70.0" /> 
    <arg name="lod" default="$(optenv LoD True)" />
    <param name="lod" type="bool" value="$(arg lod)"/>

    <arg name="nao_ip" default="$(optenv NAO_IP 10.0.1.207)" />
    <arg name="nao_port" default="$(optenv NAO_PORT 9559)" />
    <param name="nao_ip" type="string" value="$(arg nao_ip)"/>
    <param name="nao_port" type="string" value="$(arg nao_port)"/>

    <node pkg="pepper_nodes" type="wakeup_node.py" name="wakeup_node" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
    <node pkg="pepper_nodes" type="tablet_node.py" name="tablet_node" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
    <node pkg="pepper_nodes" type="text2speech_node.py" name="text2speech" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
    <node pkg="pepper_nodes" type="image_input_node.py" name="image_input" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
       
    <node pkg="rasa_ros" name="rasa_action" type="rasa_action.sh" output="screen"/>
    <node pkg="rasa_ros" name="rasa_server" type="rasa_server.sh" output="screen"/> 
    <node pkg="rasa_ros" name="reminder_server" type="reminder_server.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
    <node pkg="rasa_ros" name="dialogue_interface" type="dialogue_interface.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay2); $0 $@' "/>
    
    <node pkg="ros_audio_pkg" type="voice_detection.py" name="voice_detection" output="screen"/>
    <node pkg="ros_audio_pkg" type="asr.py" name="asr" output="screen"/>
    <node pkg="ros_audio_pkg" type="speaker_identification.py" name="speaker_identification" output="screen"/>

    <node pkg="face_recognition" type="detector_node.py" name="detector_node" args="--listen_on_detect=$(arg lod)" output="screen" />
    <node pkg="face_recognition" type="face_reidentification_node.py" name="ace_reidentification_node" output="screen"/>
    <node pkg="face_recognition" type="visualization_node.py" name="visualization_node" output="screen"/> 

    <node pkg="conductor" type="recognize_user_node.py" name="recognize_user_node" output="screen"/>
    <node pkg="conductor" name="url2pepper" type="url_to_pepper.py" output="screen"/>
    <node pkg="conductor" name="text2pepper" type="text_to_pepper.py" output="screen"/>

    
</launch>
