<launch>
    
    <arg name="nao_ip" default="$(optenv NAO_IP 10.0.1.230)" />
    <arg name="nao_port" default="$(optenv NAO_PORT 9559)" />
    <param name="nao_ip" type="string" value="$(arg nao_ip)"/>
    <param name="nao_port" type="string" value="$(arg nao_port)"/>

    <node pkg="pepper_nodes" type="wakeup_node.py" name="wakeup_node" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
    <node pkg="pepper_nodes" type="head_motion_node.py" name="head_motion_node" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
    <node pkg="pepper_nodes" type="tablet_node.py" name="tablet_node" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
    <node pkg="pepper_nodes" type="text2speech_node.py" name="text2speech" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />
    <node pkg="pepper_nodes" type="image_input_node.py" name="image_input" required="true" args="--ip=$(arg nao_ip) --port=$(arg nao_port)" output="screen" />


    <arg name="node_start_delay" default="50.0" />  
    <node pkg="rasa_ros" name="rasa_action" type="rasa_action.sh" output="screen"/>
    <node pkg="rasa_ros" name="rasa_server" type="rasa_server.sh" output="screen"/> 
    <node pkg="rasa_ros" name="dialogue_server" type="dialogue_server.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
    <node pkg="rasa_ros" name="dialogue_interface" type="dialogue_interface.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>
    
    <arg name="node_start_delay2" default="70.0" />  
    
    <node pkg="ros_audio_pkg" name="voice_detection" type="voice_detection.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay2); $0 $@' "/> 
    <node pkg="ros_audio_pkg" name="asr" type="asr.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay2); $0 $@' "/>
    <node pkg="conductor" name="text_to_pepper" type="text_to_pepper.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay2); $0 $@' "/>
    

    

</launch>


