<launch>
    <arg name="node_start_delay" default="35.0" />  
    <arg name="node_start_delay2" default="40.0" />  
    <node pkg="rasa_ros" name="rasa_action" type="rasa_action.sh" output="screen"/>
    <node pkg="rasa_ros" name="rasa_server" type="rasa_server.sh" output="screen"/> 
    <node pkg="rasa_ros" name="reminder_server" type="reminder_server.py" output="screen"/> 
    <!-- <node pkg="rasa_ros" name="dialogue_server" type="dialogue_server.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/> -->
    <node pkg="rasa_ros" name="dialogue_interface" type="dialogue_interface.py" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay2); $0 $@' "/>
    
    <!-- <node pkg="ros_audio_pkg" type="voice_detection.py" name="voice_detection" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay2); $0 $@'"/>
    <node pkg="ros_audio_pkg" type="asr.py" name="asr" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay2); $0 $@' "/>
    <node pkg="ros_audio_pkg" type="speaker_identification.py" name="speaker_identification" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay2); $0 $@' "/> -->
    <node pkg="conductor" name="text2rasa" type="text_to_rasa.py" output="screen"/>
    <node pkg="conductor" name="text2pepper" type="text_to_pepper.py" output="screen"/>
    <node pkg="conductor" name="url2pepper" type="url_to_pepper.py" output="screen"/>
    <!-- <node pkg="conductor" name="imageFromPepper" type="image_node.py" output="screen"/> -->

    
    <node pkg="conductor" name="test_tts_node" type="test_tts_node.py" output="screen"/>
    <node pkg="conductor" name="test_url_node" type="test_url_node.py" output="screen"/>
    <!-- <node pkg="conductor" name="test_camera_node" type="test_camera_node.py" output="screen"/> -->

</launch>
